*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #2c3347;
  color: #ffffff;
}

h1 {
    font-size: 48px;
    font-weight: 200px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  line-height: 59px;

  padding: 0 64px;
}

#timer {
  display: grid;
  justify-items: center;
  width: 100%;
  padding-top: 25px;
  grid-row-gap: 23px;
}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 270px;

    border-radius: 50%;
    border: 2px solid white ;

}

.time  {
    font-family: monospace;
    font-size: 48px;
    font-weight: 200px;
}

.orange{
    color: #ff954a;
    font-weight: 900;
    text-shadow: 0 0 0px #fff, 0 0 50px #ff954a;
}

button{
  border: none; 
  cursor: pointer;
  outline: none;
  background-color: transparent;
}

#controls{
display: flex;
justify-content: space-between;
width: 187px;
}

img{
  width: 45px;
  height: 45px;
}


#playIcon{
  display: block;
}
#pauseIcon{
  display: none;
}
